#container_select {
  position: relative;
  border: 1px solid var(--border-primary);
  border-radius: 8px;
  display: flex;

  & select {
    all: unset;
    position: relative;
    z-index: 1;
    padding: 0.75rem 1.5rem;
    margin-left: 0.75rem;
    width: calc(100% + 3rem);

    font: 400 1rem/150% var(--ff-base);
    color: var(--content-primary);

    & option {
      background-color: var(--background-tertiary);
      padding: 10px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../../assets/Clock-Circle--Streamline-Solar.svg") no-repeat
      center center;
  }

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../../assets/Icon.svg") no-repeat center center;
  }

  &:has(:focus) {
    outline: 1px solid var(--content-primary);
  }
}
