input[type="text"] {
  all: unset;
  padding: 0.75rem;
  border: 1px solid var(--border-primary);
  background-color: var(--background-tertiary);
  border-radius: 8px;
  color: var(--content-primary);
  font: 400 1rem/150% var(--ff-base);

  &::placeholder {
    font: 400 1rem/150% var(--ff-base);
    color: var(--content-secondary);
  }
}

label[for="client_name"] {
  &::before {
    background: url("../../assets/User--Streamline-Solar.svg") no-repeat center
      center;
  }
}

label[for="pet_name"] {
  &::before {
    background: url("../../assets/Pet-Paw--Streamline-Core.svg") no-repeat
      center center;
  }
}

label[for="phone"] {
  &::before {
    background: url("../../assets/Phone--Streamline-Solar.svg") no-repeat center
      center;
  }
}
